* {
  margin: 0;
  padding: 0;
        box-sizing: border-box;
        text-decoration: none;
        list-style: none;
        font-family: sans-serif;
}
.play_section {
    height: 100vh;
    overflow: hidden;
    position: relative;
}
.container {
    width: 100%;
    max-width: 900px;
    margin: 0 auto;
    padding: 20px 40px;
    height: 100%;
    position: relative;
}
.play_title {
    font-size: 24px;
    color: #555555;
    margin-bottom: 20px;
}
.play_message-title {
    font-size: 20px;
    font-weight: 500;
    margin-bottom: 10px;
    color: #555555;
}
.play_message-wrapper {
    background: #555555;
    width: 100%;
    height: 180px;
    overflow-x: hidden;
    overflow-y: auto;
    padding: 20px;
    margin-bottom: 20px;
}
.play_message-wrapper p {
    color: #fcfcfc;
    font-size: 18px;
    font-weight: 500;
    margin-bottom: 10px;
}
.attack-button {
    height: 50px;
    width: 100%;
    background: #ef6c6c;
    max-width: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    color: #722222;
    font-size: 18px;
    font-weight: 600;
    margin-right: 10px;
}
.play__background {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.play__button-wrapper {
    position: absolute;
    bottom: 20px;
    left: 40px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}
.play__hero-image, .play__oleg-image {
    width: 300px;
    height: 300px;
    position: absolute;
    z-index: 99999;
}
.play__hero-image {
    left: 0;
    top: 360px;
}
.play__oleg-image {
    right: 0;
    top: 360px;
}
.play__hero-image.hit {
    animation: hero_hit_animation .4s ease-in;
}
.play__oleg-image.get_damage {
    animation: oleg_get_damage_animation .3s .2s ease-in;
}
.play__hero-image.get_damage {
    animation: hero_get_damage_animation .3s .4s ease-in;
}
.play__oleg-image.hit {
    animation: oleg_hit_animation .3s .2s ease-in;
}
.play__skill.skill {
    animation: hero_skill_animation .6s ease-in;
}
@keyframes hero_hit_animation {
    0%{
        left: 0;
    } 50% {
        left: calc(100% - 400px);
    } 100% {
        left: 0;
    }
}
@keyframes oleg_hit_animation {
    0%{
        right: 0;
    } 50% {
        right: calc(100% - 400px);
    } 100% {
        right: 0;
    }
}
@keyframes oleg_get_damage_animation {
    0%{
        right: 10px;
        top: calc(360px + 10px);
    } 20% {
        right: -23px;
        top: calc(360px - 9px);
    } 40% {
        right: 2px;
        top: calc(360px + 6px);
    } 60% {
        right: 2px;
        top: calc(360px + 6px);
    } 80% {
        right: -12px;
        top: calc(360px + 16px);
    } 100% {
        right: 0;
        top: 360px;
    }
}
@keyframes hero_get_damage_animation {
    0%{
        left: 10px;
        top: calc(360px + 10px);
    } 20% {
        left: -23px;
        top: calc(360px - 9px);
    } 40% {
        left: 2px;
        top: calc(360px + 6px);
    } 60% {
        left: 2px;
        top: calc(360px + 6px);
    } 80% {
        left: -12px;
        top: calc(360px + 16px);
    } 100% {
        left: 0;
        top: 360px;
    }
}
@keyframes hero_skill_animation {
    0%{
        left: 100px;
        opacity: 0;
    } 20% {
        opacity: 1;
        left: 10%;
    } 100% {
        left: 120%;
    }
}
.play__hero-health-wrapper {
    position: absolute;
    width: calc(100% - 80px);
    left: 40px;
    bottom: 90px;
}
.play__skill {
    position: absolute;
    left: 100px;
    top: 440px;
    width: 100px;
    opacity: 0;
    pointer-events: none;
}
.play__name {
    color: #555;
    background: #fff;
    padding: 4px;
}
.play__max-health {
    height: 15px;
    background: #dbcece;
    border: 2px solid #fff;
    border-radius: 100px;
}
.play__health {
    height: 100%;
    background: #d53d3d;
    border-radius: 100px;
}


.games-list__wrapper {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    margin-top: 20px;
}
.games-list__link-wrapper {
    font-size: 18px;
    font-weight: 500;
    margin-bottom: 6px;
    color: #555555;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    position: relative;
    padding: 6px 10px;
    height: 40px;
    width: 100%;
    border: 2px solid #555555;
    border-radius: 10px;
}
.games-list__edit-button {
    position: absolute;
    height: 30px;
    width: 30px;
    right: 50px;
    top: calc(50% - 15px);
    background: #16d233;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
}
.games-list__delete-button {
    position: absolute;
    height: 30px;
    width: 30px;
    right: 10px;
    top: calc(50% - 15px);
    background: #c50c12;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
}

.games-list__edit-button svg, .games-list__delete-button svg {
    width: 16px;
    height: 16px;
}


.shop__header {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 20px;
}
.shop__title {
    font-size: 26px;
    color: #555555;
}
.shop__hero-money {
    color: #555;
    font-size: 20px;
    font-weight: 600;
}
.shop__weapon-wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-bottom: 40px;
}
.shop__weapon-item {
    width: calc(50% - 10px);
    height: 50px;
    border: 2px solid #3f9712;
    background: #3f9712;
    border-radius: 14px;
    margin-bottom: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px;
}
.shop__weapon-item.disabled {
    background: #c41717;
    border-color: #c41717;
    pointer-events: none;
    cursor: no-drop;
}
.shop__weapon-name {
    color: #fff;
    font-size: 20px;
    font-weight: 600;
    margin-right: 10px;
    white-space: nowrap;
}
.shop__weapon-damage {
    width: 100%;
    font-weight: 500;
    font-size: 18px;
    color: #fff;
}
.shop__weapon-price {
    font-size: 18px;
    font-weight: 500;
    color: #fff;
    white-space: nowrap;
}
.shop__leave-button {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    max-width: 150px;
    height: 50px;
    font-size: 20px;
    font-weight: 600;
    background: #c41717;
    color: #fff;
    border-radius: 10px;
}